body {
  background-color: #449f36;
}
ul {
  padding: 5%;
  margin: auto auto;
}
li {
  margin:5vh 0;
  font-size: 1.5rem;
}
li:hover {
  cursor: pointer;
  color: red;
}
span {
  font-weight: bold;
}
